page-login {
  .center-image{
       position: center !important;

  .forgot-btn {
       color: green;
       border: none;
       font-size: 0.8em;
       align-items : center;
       text-align: center;
     }

     }
}
