page-scan-result {
  // .Scan-result{
  //   background: green;
  // }
  //
  // .Scan-resultUser{
  //   text-align: center;
  //   color: #ffffff;
  // }
  //
  // .Scan-resultImage{
  //   border-radius: 100px;
  // }
  //
  // .Scan-resultImage{
  //   display: flex;
  //   justify-content: center;
  // }
  .scan-result {
    background-color: #b4d7ff;
    text-align: center;


  }
  .logout
  {
    background-color: #3b5998;
     position: center!important;
     align: center!important;
     width: 100px;
     position: relative;
     left: 50%;
     margin-left: -50px;
  }
}
