page-scan {
  .Scan {
    background-color: #b4d7ff;

  }
  .color{
    background-color:#666362;
  }

  .Scan-button {
    color: #ffffff;
    background-color:#1E90FF;
    width: 200px;
    left: 35%;
    margin-left: -35px;
    align-items: center;
    align: center;
  }
  .logout
  {
    background-color: #1E90FF;

     position: center!important;
     align: center!important;
     width: 100px;
     position: relative;
     left: 50%;
     margin-left: -50px;
  }
}
