body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	background-color: #ffffff;
}

h1 {
	font-size: 50px;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h2 {
	color: #fff000;
	font-size: 56px; 
}

form{
 	color: #000000;
 	font-size: 10px;
 	height: 100%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}


p {
	color: #ffffff;
	font-size: 12px;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
#slider{
	width: 20%;
	margin: 0 auto;
}


